{% extends "base.html" %}  <!-- Inherited the base.html -->

{% block title %}
<title>Sign Up</title>  <!-- Gave the appropriate title -->
{% endblock %}


{% block content %}

<!-- This part of jinja template iterates over the lit of errors and shows them into an alert box -->
{% for error in errors %}
<div class="alert alert-danger">
    <li>{{error}}</li>
</div>
{% endfor %}

<div class="container">
    <div class="text-center display-4">Register</div>
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6">
            <form method="POST"> <!-- The form will have an input field for email & password and a submit button -->
                <!-- It's a post -> the email & password won't appear in the query parameter; get would have been insecure -->
                <label>Email</label>
                <input type="email" required  class="form-control mb-2" name="email" value="{{email}}" placeholder="Enter your email">

                <label>Password</label>
                <input type="password" required placeholder="Choose a secure password" value="{{password}}" name="password" class="form-control mb-2">
                <!-- Whenever someone clicks on the button, the name attribute will be passed as request body to the backend -->
                <!-- in the form of form data -->
                <!-- 2 name attributes are here: email & password -->
                <button type="submit" class="btn btn-outline-success">Create an Account</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}